h1.titulo {
    color: rgb(110, 101, 101);
    text-align: center;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    display: block;
    margin: auto;
    width: 100pt;
}

h2.presentacion, #Contactar {
    color: white;
    text-align: center;
    background-color: darkturquoise;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: .3em;

}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.subtitulos {
    color: white;
    text-align: center;
    background-color: rgb(110, 101, 101);
    padding: .3em;
}

table {
    border-collapse: collapse;
    margin: auto;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
}
fieldset{
    height: fit-content;
    width: fit-content;
    margin: auto;
    border-color: rgb(110, 101, 101);
}
th{
    background-color: rgb(153, 241, 245);
    color: rgb(110, 101, 101);
}
#curso{
    font-style: italic;
}